<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
lkfgdkfjg
    <form action="/register" method="post">
        <h1>Регистрация</h1>
        <input type="text" name="name" id="name" placeholder="Enter our name">
        <input type="password" name="password" id="password" placeholder="Enter password">
        <input type="password" name="repeat-password" id="repeat-password" placeholder="Repeat password">
        <button>Register</button>
    </form>
</body>
</html>